@model UserViewModel
@{ ViewData["Title"] = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<br /><br />
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "text-center" }))
{
<form class=" p-4 w-50 mx-auto shadow">
    <div class="d-flex justify-content-center">
        <div class="border p-5 col-5">
            <h1 class="h3 mb-3 font-weight-normal">Kullanıcı Girişi</h1>
            <div class="mb-1">
                <span asp-validation-for="@Model.user.userName" class="text-danger"></span>

                @Html.LabelFor(m => m.user.userName, "Kullanıcı Adı:")
                @Html.TextBoxFor(m => m.user.userName, "text", new { @class = "form-control", @required = "" })
            </div>
            <div class="mb-1">
                <span asp-validation-for="@Model.user.userPassword" class="text-danger"></span>

                @Html.LabelFor(m => m.user.userPassword, "Şifre:")
                @Html.PasswordFor(m => m.user.userPassword, new { @class = "form-control", @required = "" })
            </div>
            <input class="btn btn-lg btn-primary btn-block" value="Giriş Yap" type="submit">
        </div>
    </div>
</form>}